
header {
  background: deeppink;
  padding: 1px 0px ;
}

h1 {
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 70;
}

h2 {
  text-align: center;
  color: white;
}

#aviso {
  color: red;
}

th {
  border: 1px solid white;
  border-collapse: collapse;
  background-color: dodgerblue;
  color: white;
  text-transform: uppercase;
  height: 50px;  
  width: 400px
}

th.id_cell {
  width: 60px;
}

th.ip_cell{
  width:150;
}

.cell{
  border: 1px solid white;
  border-collapse: collapse;
  background-color: #E5EBFD;
  text-align: center;
}

footer {
  position: absolute;
  bottom: 1;
  width: 97%;
  padding: 6px 10px;
  border: 1px solid black;
  /*height: ;  */
  background: lightgray;
  text-transform: uppercase;
}

/*footer #ok {
  color: greenyellow;
}

footer #problem{
  color: red;
}*/

/*input:invalid {
  background: lightpink
}

input:invalid + span::after {
  position: absolute;
  content: "✖";
  color: red;
  padding-left: 5px;
}*/